{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1><i class="fa fa-fw fa-key"></i> Mot de passe oublié ?</h1>
    <div class="panel panel-default">
        <div class="panel panel-body">
            <div class="well well-sm">{% trans 'Ecrivez votre adresse mail pour réinitialiser votre mot de passe' %}</div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Envoyer</button>
            </form>
        </div>
    </div>
{% endblock %}