{% load staticfiles %}
{% load cache %}
{% cache 500 jsload %}
    <script src="{% static 'js/moment.min.js' %} "></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %} "></script>
    <script src="{% static 'js/what-input.js' %} "></script>
    <script src="{% static 'js/app.js' %} "></script>
{% endcache %}
<script>
</script>