{% extends 'base_leaflet.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
    <h1><i class="{{ icon }}"></i> {{ title }}</h1>
    {% if messages %}
        <div class="small callout alert">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if error_message %}
        <div class="small callout alert">
            <b>{{ error_message }}</b>
        </div>
    {% endif %}
    {% if form.errors %}
        <div class="small callout alert">
            <b>{{ form.errors }}</b>
        </div>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
    </form>
    <link rel="stylesheet" href="{% static 'css/select2-bootstrap.min.css' %}">
    <script type="text/javascript">
        {{ js | safe }}
        $.fn.select2.defaults.set("theme", "bootstrap");
    </script>
    <br/>

{% endblock %}

