	header {
	    max-height: 100%;
	    padding-top: 50px;
	    padding-bottom: 50px;
	    text-align: center;
	    background: #555555;
	    color: #ecf0f1;
	    box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.2);
	}
	header h1 {
	    font-size: 50px;	
	    }
	header img {
			padding-bottom: 5px;
			width: 100px;
}

@media all and (max-width: 640px) {
	header {
	    padding-top: 5px;
	    padding-bottom: 5px;
	    text-align: center;
	    background: #555555;
	    color: #ecf0f1;
	    box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.2);
	}

	header img {
			padding-bottom: 5px;
			width: 30px;
		}
	header h1 {
	    font-size: 20px;	
    }
	header .button {
		background: #ecf0f1;
		color: #333;
		width: 40px;
		padding-left: 2px;
		padding-right: 2px;
		/*height: 100px;
	    line-height: 80px;*/
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		/*font-size: 15;*/
	}
	
}